body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start{
    font-size: 18px;
}
#number_of_objects, #status{
    font-size: 18px;
}
.copy_right_footer{
    width: 100%;
    background-color: grey;
    bottom: 0;
    color: black;
    line-height: 3;
    text-align: center;
    position: fixed;
    line-height: 3;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
    
}

